<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redoc - API Documentation</title>
    <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/redoc_custom.css') }}">
</head>
<body>
<div class="header">
    API Documentation - ReDoc
</div>
<div class="container">
    <!-- Container Doc Redoc -->
    <redoc spec-url="{{ spec_url }}"></redoc>
</div>
</body>
</html>